window {
margin: 0px;
border: 5px solid rgba(0, 0, 0, 1.0);
background-color: #282a36;
font-family: JetBrainsMono Nerd Font;
font-size: 22px;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #000;
padding: 5px;
}

/* Styling the input field when focused */
#input:focus {
    border: 2px solid #33ccff;
    background-color: #000000;
    color: #ffffff;
    box-shadow: none;
}

#inner-box {
margin: 5px;
border: none;
background-color: #000;
}

#outer-box {
margin: 5px;
border: none;
background-color: #000;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: #33ccff;
border-radius: 5px;
}

#entry:selected #text {
font-weight: bold;
color: #000;
}

