window {
margin: 0px;
background-color: transparent;
color: #c0caf5;
border-radius: 12px;
font-family: JetBrainsMono Nerd Font;
font-size: 18px;
}

#input {
margin: 8px;
padding: 8px 10px;
border: 1px solid #414868;
border-radius: 8px;
color: #c0caf5;
background-color: #24283b;
}

/* Styling the input field when focused */
#input:focus {
    border: 2px solid #7aa2f7;
    color: #c0caf5;
    box-shadow: none;
    background-color: #24283b;
}

#inner-box {
margin: 0px 8px 8px 8px;
border: none;
background-color: transparent;
}

#outer-box {
margin: 0px;
border: none;
background-color: #1a1b26;
border-radius: 12px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry.activatable #text {
color: #c0caf5;
}

#entry > * {
color: #c0caf5;
}

#entry {
padding: 4px;
border-radius: 8px;
background-color: transparent;
}

#entry:selected {
background-color: #9ece6a;
}

#entry:selected #text {
font-weight: bold;
color: #1a1b26;
}
