window {
margin: 0px;
background-color: #1b1b27;
font-family: JetBrainsMono Nerd Font;
font-size: 14px;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
padding: 5px;
background-color: #1b1b27;
}

/* Styling the input field when focused */
#input:focus {
    border: 2px solid #33ccff;
    color: #ffffff;
    box-shadow: none;
    background-color: #1b1b27;
}

#inner-box {
margin: 5px;
border: none;
}

#outer-box {
margin: 5px;
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #eee;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: #77dd77;
}

#entry:selected #text {
font-weight: bold;
color: #1b1b27;
}

