* {
  border: none;
  /* `ttf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font Propo", Helvetica, Arial, sans-serif;
  /* adjust font-size value to your liking: */
  font-size: 16px;
  font-weight: 700;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  color: #eee;
  background: #1b1b27;
}

#workspaces {
  transition: all 500ms ease-in-out;
  background: none;
  border-radius: 12px;
  padding: 8px 10px;
}

#workspaces button {
  transition: all 200ms ease-in-out;
  padding: 0 5px;
  margin: 0 3px;
  border-radius: 20px;
  background-color: #ffffff;
}

#workspaces button:hover {
}

#workspaces button.active {
  min-width: 50px;
  background-color: #77dd77;
}

#workspaces button.empty {
  opacity: 0.10;
}

#workspaces button.active, #workspaces button.visible {
  min-width: 50px;
  background-color: #77dd77;
  opacity: 1;
}

#workspaces button.focused {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#window {
  color: #eee;
  margin-right: 20px;
}

#tray {
  margin-left: 40px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


#battery.charging {
  color: #eee;
  background-color: #000000;
}

@keyframes blink {
  to {
    background-color: #eee;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #000000;
  color: #ffffff;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
